/* src/componentes/NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #282c34;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo h2 {
  color: white;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #61dafb;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content:center;
    padding: 10px;
    height: auto;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
}
